In [1]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas) (2025.1.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas) (2022.1.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy>=1.23.2->pandas) (2.4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy>=1.23.2->pandas) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy>=1.23.2->pandas) (2022.1.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy>=1.23.2->pandas) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy>=1.23.2->pandas) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy>=1.23.2->pandas) (2024.2.0)

In [2]:
import pandas as pd
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)
# df=pd.dataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [3]:
import pandas as pd
data=pd.read_excel("/kaggle/input/expense/expense3.xlsx")
# print(data) 
print (data.head(10))
print(data.tail(12))

        Date    Category       Sub-Category   Amount Payment Mode
0 2023-01-01     Grocery             Grocery      30         Cash
1 2023-01-02        Food          Restaurant     890          UPI
2 2023-01-04         123              Zomato     257          NaN
3 2023-01-06  Essentials               Diary     120          UPI
4 2023-01-06  Essentials             Perfume    1500         Cash
5 2023-01-09     Grocery  Fruits and Veggies     456         Cash
6 2023-01-10       Bills          House Rent   16000          UPI
7 2023-01-10     Grocery      Tomato KetchUp      70          UPI
8 2023-01-12        Food                Chai      15          UPI
9 2023-01-15  Essentials      Salt and Sugar      50          NaN
         Date    Category       Sub-Category   Amount Payment Mode
17 2023-01-21     Clothes               Dress    1000          NaN
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI

In [4]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           29 non-null     datetime64[ns]
 1   Category       29 non-null     object
 2   Sub-Category   29 non-null     object
 3   Amount         29 non-null     int64
 4   Payment Mode   25 non-null     object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.3+ KB
None

In [5]:
data.describe()

                                Date        Amount
count                             29     29.000000
mean   2023-01-17 19:02:04.137931008   1039.620690
min              2023-01-01 00:00:00     10.000000
25%              2023-01-10 00:00:00     70.000000
50%              2023-01-19 00:00:00    257.000000
75%              2023-01-26 00:00:00    890.000000
max              2023-01-30 00:00:00  16000.000000
std                              NaN   2927.684353

In [6]:
print(data.isnull().sum())

Date             0
Category         0
Sub-Category     0
Amount           0
Payment Mode     4
dtype: int64

In [7]:
# duplicates values in  dataframe
print(data["Amount"].duplicated().sum())
print(data.drop_duplicates("Amount"))

4
         Date    Category       Sub-Category   Amount Payment Mode
0  2023-01-01     Grocery             Grocery      30         Cash
1  2023-01-02        Food          Restaurant     890          UPI
2  2023-01-04         123              Zomato     257          NaN
3  2023-01-06  Essentials               Diary     120          UPI
4  2023-01-06  Essentials             Perfume    1500         Cash
5  2023-01-09     Grocery  Fruits and Veggies     456         Cash
6  2023-01-10       Bills          House Rent   16000          UPI
7  2023-01-10     Grocery      Tomato KetchUp      70          UPI
8  2023-01-12        Food                Chai      15          UPI
9  2023-01-15  Essentials      Salt and Sugar      50          NaN
10 2023-01-17     Grocery           Chocolate     100          UPI
11 2023-01-17        Food          Restaurant     780         Card
13 2023-01-18        Food              Zomato     230          UPI
14 2023-01-19     Grocery                Milk      26          UPI
17 2023-01-21     Clothes               Dress    1000          NaN
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI

In [8]:
print(data)
print(data["Amount"].mean())

         Date    Category       Sub-Category   Amount Payment Mode
0  2023-01-01     Grocery             Grocery      30         Cash
1  2023-01-02        Food          Restaurant     890          UPI
2  2023-01-04         123              Zomato     257          NaN
3  2023-01-06  Essentials               Diary     120          UPI
4  2023-01-06  Essentials             Perfume    1500         Cash
5  2023-01-09     Grocery  Fruits and Veggies     456         Cash
6  2023-01-10       Bills          House Rent   16000          UPI
7  2023-01-10     Grocery      Tomato KetchUp      70          UPI
8  2023-01-12        Food                Chai      15          UPI
9  2023-01-15  Essentials      Salt and Sugar      50          NaN
10 2023-01-17     Grocery           Chocolate     100          UPI
11 2023-01-17        Food          Restaurant     780         Card
12 2023-01-18  Essentials            Food Oil     120          NaN
13 2023-01-18        Food              Zomato     230          UPI
14 2023-01-19     Grocery                Milk      26          UPI
15 2023-01-20  Essentials             Shampoo     780          UPI
16 2023-01-20  Essentials           Lunch Box     890         Cash
17 2023-01-21     Clothes               Dress    1000          NaN
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI
1039.6206896551723

In [9]:
! pip install numpy
import numpy as np
data["Amount"]= data["Amount"].replace(np.nan,1039.62068965)
print(data)
print(data["Amount"].mean())

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy) (2025.1.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy) (2022.1.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy) (2.4.1)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy) (2022.1.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy) (2024.2.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy) (2024.2.0)
         Date    Category       Sub-Category   Amount Payment Mode
0  2023-01-01     Grocery             Grocery      30         Cash
1  2023-01-02        Food          Restaurant     890          UPI
2  2023-01-04         123              Zomato     257          NaN
3  2023-01-06  Essentials               Diary     120          UPI
4  2023-01-06  Essentials             Perfume    1500         Cash
5  2023-01-09     Grocery  Fruits and Veggies     456         Cash
6  2023-01-10       Bills          House Rent   16000          UPI
7  2023-01-10     Grocery      Tomato KetchUp      70          UPI
8  2023-01-12        Food                Chai      15          UPI
9  2023-01-15  Essentials      Salt and Sugar      50          NaN
10 2023-01-17     Grocery           Chocolate     100          UPI
11 2023-01-17        Food          Restaurant     780         Card
12 2023-01-18  Essentials            Food Oil     120          NaN
13 2023-01-18        Food              Zomato     230          UPI
14 2023-01-19     Grocery                Milk      26          UPI
15 2023-01-20  Essentials             Shampoo     780          UPI
16 2023-01-20  Essentials           Lunch Box     890         Cash
17 2023-01-21     Clothes               Dress    1000          NaN
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI
1039.6206896551723

In [10]:
print(data.fillna(method = "bfill"))
# print(data.fillna(method = "ffill"))

         Date    Category       Sub-Category   Amount Payment Mode
0  2023-01-01     Grocery             Grocery      30         Cash
1  2023-01-02        Food          Restaurant     890          UPI
2  2023-01-04         123              Zomato     257          UPI
3  2023-01-06  Essentials               Diary     120          UPI
4  2023-01-06  Essentials             Perfume    1500         Cash
5  2023-01-09     Grocery  Fruits and Veggies     456         Cash
6  2023-01-10       Bills          House Rent   16000          UPI
7  2023-01-10     Grocery      Tomato KetchUp      70          UPI
8  2023-01-12        Food                Chai      15          UPI
9  2023-01-15  Essentials      Salt and Sugar      50          UPI
10 2023-01-17     Grocery           Chocolate     100          UPI
11 2023-01-17        Food          Restaurant     780         Card
12 2023-01-18  Essentials            Food Oil     120          UPI
13 2023-01-18        Food              Zomato     230          UPI
14 2023-01-19     Grocery                Milk      26          UPI
15 2023-01-20  Essentials             Shampoo     780          UPI
16 2023-01-20  Essentials           Lunch Box     890         Cash
17 2023-01-21     Clothes               Dress    1000          UPI
18 2023-01-22     Clothes               Dress    1890          UPI
19 2023-01-23     Grocery      Bread and Milk      56         Cash
20 2023-01-24        Food  Fruits and Veggies     530         Cash
21 2023-01-26        Food                Chai      10          UPI
22 2023-01-26     Grocery               Maggi     140          UPI
23 2023-01-27        Food              Zomato     300          UPI
24 2023-01-27        Food                Chai      10          UPI
25 2023-01-28  Essentials           Bedsheets    1025         Cash
26 2023-01-29       Bills             Mobile     1650          UPI
27 2023-01-29     Grocery                Daal     150         Cash
28 2023-01-30       Bills            Cylinder    1074          UPI

/tmp/ipykernel_13/1272074794.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method = "bfill"))

In [11]:
import pandas as pd
df=pd.read_excel("/kaggle/input/esd-file/ESD.xlsx")
print(df)
df.loc[(df["Bonus %"]==0),"TotalBonus"]="No Bonus"
df.loc[(df["Bonus %"]>0),"TotalBonus"]="Bonus-Gained"
print(df.head(15))

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]
      EEID        Full Name                 Job Title       Department  \
0   E02387      Emily Davis                Sr. Manger               IT
1   E04105    Theodore Dinh       Technical Architect               IT
2   E02572     Luna Sanders                  Director          Finance
3   E02832  Penelope Jordan  Computer Systems Manager               IT
4   E01639        Austin Vo               Sr. Analyst          Finance
5   E00644     Joshua Gupta    Account Representative            Sales
6   E01550      Ruby Barnes                   Manager               IT
7   E04332      Luke Martin                   Analyst          Finance
8   E04533    Easton Bailey                   Manager       Accounting
9   E03838  Madeline Walker               Sr. Analyst          Finance
10  E00591     Savannah Ali                Sr. Manger  Human Resources
11  E03344    Camila Rogers         Controls Engineer      Engineering
12  E00530        Eli Jones                   Manager  Human Resources
13  E04239     Everleigh Ng                Sr. Manger          Finance
14  E03496      Robert Yang               Sr. Analyst       Accounting

             Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0   Research & Development  Female      Black   55 2016-04-08         141604
1            Manufacturing    Male      Asian   59 1997-11-29          99975
2      Speciality Products  Female  Caucasian   50 2006-10-26         163099
3            Manufacturing  Female  Caucasian   26 2019-09-27          84913
4            Manufacturing    Male      Asian   55 1995-11-20          95409
5                Corporate    Male      Asian   57 2017-01-24          50994
6                Corporate  Female  Caucasian   27 2020-07-01         119746
7            Manufacturing    Male      Black   25 2020-05-16          41336
8            Manufacturing    Male  Caucasian   29 2019-01-25         113527
9      Speciality Products  Female  Caucasian   34 2018-06-13          77203
10           Manufacturing  Female      Asian   36 2009-02-11         157333
11     Speciality Products  Female  Caucasian   27 2021-10-21         109851
12           Manufacturing    Male  Caucasian   59 1999-03-14         105086
13  Research & Development  Female      Asian   51 2021-06-10         146742
14     Speciality Products    Male      Asian   31 2017-11-04          97078

    Bonus %        Country       City  Exit Date    TotalBonus
0      0.15  United States    Seattle 2021-10-16  Bonus-Gained
1      0.00          China  Chongqing        NaT      No Bonus
2      0.20  United States    Chicago        NaT  Bonus-Gained
3      0.07  United States    Chicago        NaT  Bonus-Gained
4      0.00  United States    Phoenix        NaT      No Bonus
5      0.00          China  Chongqing        NaT      No Bonus
6      0.10  United States    Phoenix        NaT  Bonus-Gained
7      0.00  United States      Miami 2021-05-20      No Bonus
8      0.06  United States     Austin        NaT  Bonus-Gained
9      0.00  United States    Chicago        NaT      No Bonus
10     0.15  United States      Miami        NaT  Bonus-Gained
11     0.00  United States    Seattle        NaT      No Bonus
12     0.09  United States     Austin        NaT  Bonus-Gained
13     0.10          China   Shanghai        NaT  Bonus-Gained
14     0.00  United States     Austin 2020-03-09      No Bonus

In [12]:
data=pd.read_excel("/kaggle/input/esd-file/ESD.xlsx")
print(data.head(10))
data["Full characater of name and job title"]=data["Full Name"].str.capitalize()+" "+data["Job Title"].str.capitalize()
print(data.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT
5     0.00          China  Chongqing        NaT
6     0.10  United States    Phoenix        NaT
7     0.00  United States      Miami 2021-05-20
8     0.06  United States     Austin        NaT
9     0.00  United States    Chicago        NaT
     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date  \
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT
4     0.00  United States    Phoenix        NaT
5     0.00          China  Chongqing        NaT
6     0.10  United States    Phoenix        NaT
7     0.00  United States      Miami 2021-05-20
8     0.06  United States     Austin        NaT
9     0.00  United States    Chicago        NaT

      Full characater of name and job title
0                    Emily davis Sr. manger
1         Theodore dinh Technical architect
2                     Luna sanders Director
3  Penelope jordan Computer systems manager
4                     Austin vo Sr. analyst
5       Joshua gupta Account representative
6                       Ruby barnes Manager
7                       Luke martin Analyst
8                     Easton bailey Manager
9               Madeline walker Sr. analyst

In [13]:
data = {"Months":["chiku","dad","aka","daru"]}
# print(data)
import pandas as pd
a=pd.DataFrame(data)
print(a)

def extract(value):
     return value[0:2]

a["short_months"]= a["Months"].map(extract)

print(a)

  Months
0  chiku
1    dad
2    aka
3   daru
  Months short_months
0  chiku           ch
1    dad           da
2    aka           ak
3   daru           da

In [14]:
import pandas as pd
data=pd.read_excel("/kaggle/input/esd-file/ESD.xlsx")
print(data)

       EEID        Full Name                 Job Title  Department  \
0    E02387      Emily Davis                Sr. Manger          IT
1    E04105    Theodore Dinh       Technical Architect          IT
2    E02572     Luna Sanders                  Director     Finance
3    E02832  Penelope Jordan  Computer Systems Manager          IT
4    E01639        Austin Vo               Sr. Analyst     Finance
..      ...              ...                       ...         ...
995  E03094     Wesley Young               Sr. Analyst   Marketing
996  E01909     Lillian Khan                   Analyst     Finance
997  E04398      Oliver Yang                  Director   Marketing
998  E02521      Lily Nguyen               Sr. Analyst     Finance
999  E03545      Sofia Cheng            Vice President  Accounting

              Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0    Research & Development  Female      Black   55 2016-04-08         141604
1             Manufacturing    Male      Asian   59 1997-11-29          99975
2       Speciality Products  Female  Caucasian   50 2006-10-26         163099
3             Manufacturing  Female  Caucasian   26 2019-09-27          84913
4             Manufacturing    Male      Asian   55 1995-11-20          95409
..                      ...     ...        ...  ...        ...            ...
995     Speciality Products    Male  Caucasian   33 2016-09-18          98427
996     Speciality Products  Female      Asian   44 2010-05-31          47387
997     Speciality Products    Male      Asian   31 2019-06-10         176710
998     Speciality Products  Female      Asian   33 2012-01-28          95960
999               Corporate  Female      Asian   63 2020-07-26         216195

     Bonus %        Country       City  Exit Date
0       0.15  United States    Seattle 2021-10-16
1       0.00          China  Chongqing        NaT
2       0.20  United States    Chicago        NaT
3       0.07  United States    Chicago        NaT
4       0.00  United States    Phoenix        NaT
..       ...            ...        ...        ...
995     0.00  United States   Columbus        NaT
996     0.00          China    Chengdu 2018-01-08
997     0.15  United States      Miami        NaT
998     0.00          China    Chengdu        NaT
999     0.31  United States      Miami        NaT

[1000 rows x 14 columns]

In [15]:
ap=data.groupby(["Department","Gender"]).agg({"EEID":"count"})
print(ap)
grp1=data.groupby(["Country","Department","Gender"]).agg({"Annual Salary":"mean","Gender":"count"})
print(grp1)

                        EEID
Department      Gender
Accounting      Female    53
                Male      43
Engineering     Female    80
                Male      78
Finance         Female    69
                Male      51
Human Resources Female    64
                Male      61
IT              Female   119
                Male     122
Marketing       Female    57
                Male      63
Sales           Female    76
                Male      64
                                      Annual Salary  Gender
Country       Department      Gender
Brazil        Accounting      Female  112103.000000       7
                              Male     77725.000000       3
              Engineering     Female  114736.941176      17
                              Male    128101.000000      15
              Finance         Female  116554.444444       9
                              Male    118292.666667       9
              Human Resources Female  118766.727273      11
                              Male    112070.125000       8
              IT              Female   84593.916667      12
                              Male    105824.785714      14
              Marketing       Female  154719.833333       6
                              Male    104484.714286       7
              Sales           Female  101281.615385      13
                              Male    116693.375000       8
China         Accounting      Female  116107.900000      10
                              Male    101966.600000      10
              Engineering     Female  109219.294118      17
                              Male    104853.166667      12
              Finance         Female  138952.157895      19
                              Male    103831.000000       9
              Human Resources Female  128257.416667      12
                              Male    118854.153846      13
              IT              Female   98742.863636      22
                              Male    101561.464286      28
              Marketing       Female  117998.357143      14
                              Male    140618.000000      21
              Sales           Female   92955.200000      15
                              Male    115231.812500      16
United States Accounting      Female  138009.111111      36
                              Male    121837.933333      30
              Engineering     Female   99356.521739      46
                              Male    111179.490196      51
              Finance         Female  115499.000000      41
                              Male    130687.696970      33
              Human Resources Female  118239.097561      41
                              Male    115557.850000      40
              IT              Female   95965.929412      85
                              Male     98720.712500      80
              Marketing       Female  123394.675676      37
                              Male    135122.685714      35
              Sales           Female  115992.354167      48
                              Male    112277.550000      40

In [16]:
import pandas as pd 
data1= {
    'Emp ID': [101, 102, 103, 104],
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Age': [28, 24, 35, 32]
}
data2= {
    'Emp ID': [101, 102,  45,104],
    'Name': ['Jods', 'Ads', 'Pe986r', 'Ldf52'],
    'Salary':['5222','6564','564','668']
}

pf1=pd.DataFrame(data1)
pf2=pd.DataFrame(data2)

print(pf1)
# print()
print(pf2)

   Emp ID   Name  Age
0     101   John   28
1     102   Anna   24
2     103  Peter   35
3     104  Linda   32
   Emp ID    Name Salary
0     101    Jods   5222
1     102     Ads   6564
2      45  Pe986r    564
3     104   Ldf52    668

In [17]:
print(pd.merge(pf1,pf2,on = "Emp ID"))
print()
print()
print()

print(pd.merge(left=pf1,right=pf2,on = "Emp ID",how="right"))
print()
print()
print()

print(pd.merge(left=pf1,right=pf2,on = "Emp ID",how="left"))
print()
print()
print()


print(pd.concat([pf1,pf2]))

   Emp ID Name_x  Age Name_y Salary
0     101   John   28   Jods   5222
1     102   Anna   24    Ads   6564
2     104  Linda   32  Ldf52    668



   Emp ID Name_x   Age  Name_y Salary
0     101   John  28.0    Jods   5222
1     102   Anna  24.0     Ads   6564
2      45    NaN   NaN  Pe986r    564
3     104  Linda  32.0   Ldf52    668



   Emp ID Name_x  Age Name_y Salary
0     101   John   28   Jods   5222
1     102   Anna   24    Ads   6564
2     103  Peter   35    NaN    NaN
3     104  Linda   32  Ldf52    668



   Emp ID    Name   Age Salary
0     101    John  28.0    NaN
1     102    Anna  24.0    NaN
2     103   Peter  35.0    NaN
3     104   Linda  32.0    NaN
0     101    Jods   NaN   5222
1     102     Ads   NaN   6564
2      45  Pe986r   NaN    564
3     104   Ldf52   NaN    668

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [18]:
import pandas as pd
data = {
    'Fruit': ['Apple', 'Banana', 'Mango', 'Orange', 'Grapes'],
    'Quantity': [10, 20, 15, 12, 25],
    'Price': [50, 20, 80, 40, 60]
}

df=pd.DataFrame(data)
print(df)
print()
print()
df2=df.copy()
print(df2)
print()
print()
df2.loc[2,"Quantity"]= 45
df2.loc[3,"Price"]=684
print(df2)

print(df.compare(df2,align_axis=0))
print(df.compare(df2,align_axis=0,keep_equal=True))
print(df.compare(df2,align_axis=0,keep_equal=False))
print(df.compare(df2,align_axis=0,keep_shape=True))
print(df.compare(df2,align_axis=0,keep_shape=False))

    Fruit  Quantity  Price
0   Apple        10     50
1  Banana        20     20
2   Mango        15     80
3  Orange        12     40
4  Grapes        25     60


    Fruit  Quantity  Price
0   Apple        10     50
1  Banana        20     20
2   Mango        15     80
3  Orange        12     40
4  Grapes        25     60


    Fruit  Quantity  Price
0   Apple        10     50
1  Banana        20     20
2   Mango        45     80
3  Orange        12    684
4  Grapes        25     60
         Quantity  Price
2 self       15.0    NaN
  other      45.0    NaN
3 self        NaN   40.0
  other       NaN  684.0
         Quantity  Price
2 self         15     80
  other        45     80
3 self         12     40
  other        12    684
         Quantity  Price
2 self       15.0    NaN
  other      45.0    NaN
3 self        NaN   40.0
  other       NaN  684.0
        Fruit  Quantity  Price
0 self    NaN       NaN    NaN
  other   NaN       NaN    NaN
1 self    NaN       NaN    NaN
  other   NaN       NaN    NaN
2 self    NaN      15.0    NaN
  other   NaN      45.0    NaN
3 self    NaN       NaN   40.0
  other   NaN       NaN  684.0
4 self    NaN       NaN    NaN
  other   NaN       NaN    NaN
         Quantity  Price
2 self       15.0    NaN
  other      45.0    NaN
3 self        NaN   40.0
  other       NaN  684.0

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

In [19]:
import pandas as pd
data = {
    'Key':['k1','k2','k3','K4'],
    'Name': ['John', 'Anna', 'Peter', 'Linda'],
    'Color': ['Red', 'Blue', 'Green', 'Yellow'],
    'Grades': [85, 90, 78, 92]
}
df=pd.DataFrame(data) 




print(df)
print(df.pivot(index="Key", columns="Name", values=["Color","Grades"]))
# print(df.pivot(index="Key", columns="Name", values="Grades"))
print(pd.melt(df,id_vars=["Key"],value_vars=["Color","Grades","Name"],var_name="Color&Grades",value_name="valueskj"))

  Key   Name   Color  Grades
0  k1   John     Red      85
1  k2   Anna    Blue      90
2  k3  Peter   Green      78
3  K4  Linda  Yellow      92
     Color                     Grades
Name  Anna John   Linda  Peter   Anna John Linda Peter
Key
K4     NaN  NaN  Yellow    NaN    NaN  NaN    92   NaN
k1     NaN  Red     NaN    NaN    NaN   85   NaN   NaN
k2    Blue  NaN     NaN    NaN     90  NaN   NaN   NaN
k3     NaN  NaN     NaN  Green    NaN  NaN   NaN    78
   Key Color&Grades valueskj
0   k1        Color      Red
1   k2        Color     Blue
2   k3        Color    Green
3   K4        Color   Yellow
4   k1       Grades       85
5   k2       Grades       90
6   k3       Grades       78
7   K4       Grades       92
8   k1         Name     John
9   k2         Name     Anna
10  k3         Name    Peter
11  K4         Name    Linda